<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signup</title>
    <link rel="stylesheet" href="/css/auth.css" />
  </head>
  <body>
    <form action="/signup">
      <h2>Sign up</h2>
      <label for="email">Email</label>
      <input type="text" name="email" required />
      <label for="password">Password</label>
      <input type="password" name="password" required />
      <div class="error"></div>
      <button>Sign up</button>
      <a href="/login">allready have account?</a>
    </form>
    <script src="/js/signup.js"></script>
  </body>
</html>
